/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 200; */
  /* color: #3e5869; */
}

#root {
  height: 100%;
}

.u-background-gray {
  background-color: #F6F6F6;
}

.u-background-blue {
  background-color: #1887FB;
}

.u-text-white {
  color: white;
}